language: android
jdk: oraclejdk8

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

android:
  components:
  - platform-tools
  - tools
  - tools
  - build-tools-25.0.0
  - android-25
  - extra-android-support
  - extra-android-m2repository

before_script:
  - echo y | android update sdk --no-ui --filter platform-tool

script:
  - ./gradlew build

deploy:
  provider: script
  script: ./gradlew bintrayUpload
  on:
      tags: true
